.post-card {
  background: #fff;
  padding: 12px;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom-color: #f4f4f4;
  margin-bottom: 20px;
  margin: 3px;
}
.post-card:hover {
  box-shadow: 0 0 14px rgba(33, 33, 33, 0.2);
}
.post-card .wrap {
  display: block;
  height: 100%;
  position: relative;
}
.post-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5px;
}
.post-card .card-content .card-title {
  padding: 0;
  font-size: 16px !important;
  height: 40px !important;
  line-height: 1.43 !important;
  margin-top: 8px;
  text-overflow: unset;
  white-space: unset;
  width: calc(100% - 16px);
}
.post-card .card-content .short-des {
  opacity: 0.5;
  font-size: 15px;
  margin-top: 2px;
  max-width: 100%;
  line-height: 1.43;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-card .card-content .price span {
  color: #d0021b;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.33;
  margin: 2px 4px 0 0;
}
.post-card .card-footer {
  color: #9b9b9b;
  bottom: -6px;
  left: 0;
  width: 100%;
}
.user-img {
  border-radius: 50%;
}
.card-footer a img {
  margin-right: 3px;
  margin-top: 1px;
  vertical-align: center;
}
.dot {
  display: inline-block;
}
.dot::after {
  content: "\B7";
  display: inline-block;
  vertical-align: middle;
}
.card-footer .post-time {
  display: inline-block;
  font-size: 11px;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
}
#location {
  max-width: 56px;
}
.card-footer .post-time .location .text {
  margin-right: 0;
}
@media (max-width: 600px) and (min-width: 300px) {
  .post-card {
    width: 45%;
  }
  .post-card .wrap {
    width: 100%;
  }
  .post-card .card-content {
    width: 100%;
  }
  .card-img {
    width: 100%;
    object-fit: cover;
  }
}
