footer {
  background-color: #161515;
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
footer .container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
footer .container p {
  color: #fff;
  font-size: 20px;
}
